<form
  class="bg-neutral-800 flex flex-row w-full flex-wrap mb-4"
  [formGroup]="form">
  <div class="bg-neutral-900 p-4 w-full mb-2">
    <p class="text-lg font-medium">Info</p>
  </div>

  <mat-form-field class="w-full sm:px-2 sm:w-1/2">
    <mat-label>First Name</mat-label>
    <input matInput formControlName="firstName" />
  </mat-form-field>

  <mat-form-field class="w-full sm:px-2 sm:w-1/2">
    <mat-label>Last Name</mat-label>
    <input matInput formControlName="lastName" />
  </mat-form-field>

  <mat-form-field class="w-full sm:px-2 sm:w-1/2">
    <mat-label>UserName</mat-label>
    <input matInput [formControl]="this.userName" />
    <mat-error *hasError="'required'">Enter a username</mat-error>
    <mat-error *hasError="'minlength'">Minimum 6 characters</mat-error>
  </mat-form-field>

  <mat-form-field class="w-full sm:px-2 sm:w-1/2">
    <mat-label>Password</mat-label>
    <input matInput [formControl]="this.password" />
    <mat-error *hasError="'minlength'">Minimum 6 characters</mat-error>
  </mat-form-field>

  <mat-form-field class="w-full sm:px-2 sm:w-1/2">
    <mat-label>Email</mat-label>
    <input matInput [formControl]="this.email" />
    <mat-error *hasError="'email'">Enter a valid e-mail address</mat-error>
  </mat-form-field>

  <mat-form-field class="w-full sm:px-2 sm:w-1/2">
    <mat-label>Phone</mat-label>
    <input matInput formControlName="phone" />
  </mat-form-field>

  <mat-form-field class="w-full sm:px-2 sm:w-1/2">
    <mat-label>Address</mat-label>
    <input matInput formControlName="address" />
  </mat-form-field>

  <mat-form-field class="w-full sm:px-2 sm:w-1/2">
    <mat-label>Role</mat-label>
    <mat-select formControlName="role">
      <mat-option *ngFor="let role of roles" [value]="role">
        {{ role }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="w-full sm:px-2 sm:w-1/2">
    <mat-label>Country</mat-label>
    <input matInput formControlName="country" />
  </mat-form-field>

  <mat-form-field class="w-full sm:px-2 sm:w-1/2">
    <mat-label>Last Login</mat-label>
    <input matInput type="datetime" formControlName="lastLogin" />
  </mat-form-field>

  <div class="w-full flex flex-row-reverse p-2">
    <button
      mat-raised-button
      color="primary"
      class="ml-2 font-bold rounded"
      [disabled]="!form.valid"
      (click)="onSubmit()">
      {{ userId ? 'Save' : 'Create' }}
    </button>

    <button
      mat-button
      color="warn"
      class="ml-2 font-bold rounded"
      (click)="clearUserEnteredData()">
      Cancel
    </button>

    <button
      mat-button
      color="warn"
      class="ml-2 font-bold rounded"
      (click)="exitRoute()">
      Exit
    </button>
  </div>
</form>

<form
  *ngIf="this.userId && this.user"
  class="bg-neutral-800 flex flex-row w-full flex-wrap mb-4"
  [formGroup]="this.changePasswordForm">
  <div class="bg-neutral-900 p-4 w-full mb-2">
    <p class="text-lg font-medium">Change Password</p>
  </div>

  <mat-form-field class="w-full sm:px-2 sm:w-1/2">
    <mat-label>New Password</mat-label>
    <input matInput formControlName="password" />
  </mat-form-field>

  <div class="w-full flex flex-row-reverse p-2">
    <button
      mat-raised-button
      color="primary"
      class="ml-2 font-bold rounded"
      [disabled]="this.changePasswordForm.invalid"
      (click)="changePassword()">
      Save
    </button>
  </div>
</form>

<div *ngIf="this.userId" class="bg-neutral-900 p-4 mt-4 w-full">
  <p class="text-lg font-medium">Login Records</p>
</div>

<div *ngIf="this.userId" class="bg-neutral-800 p-4">
  <app-login-records-list [userId]="this.userId"></app-login-records-list>
</div>
