<app-card titleText="User Info">
  <form class="flex flex-row w-full flex-wrap mb-4" [formGroup]="this.form">
    <div class="w-full text-xl font-bold p-4">Login Info</div>

    <mat-form-field class="w-full md:px-2 md:w-1/2 lg:w-1/3">
      <mat-label>UserName</mat-label>
      <input matInput formControlName="userName" />
      <mat-error *hasError="'required'">Enter a username</mat-error>
      <mat-error *hasError="'minlength'">Minimum 6 characters</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full md:px-2 md:w-1/2 lg:w-1/3">
      <mat-label>Password</mat-label>
      <input matInput formControlName="password" />
      <mat-error *hasError="'minlength'">Minimum 6 characters</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full md:px-2 md:w-1/2 lg:w-1/3">
      <mat-label>Role</mat-label>
      <mat-select formControlName="role">
        @for (role of this.roles; track role) {
          <mat-option [value]="role">
            {{ role }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>

    <div class="w-full text-xl font-bold p-4">Personal Info</div>

    <mat-form-field class="w-full md:px-2 md:w-1/2 lg:w-1/3">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>

    <mat-form-field class="w-full md:px-2 md:w-1/2 lg:w-1/3">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>

    <mat-form-field class="w-full md:px-2 md:w-1/2 lg:w-1/3">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" />
      <mat-error *hasError="'email'">Enter a valid e-mail address</mat-error>
    </mat-form-field>

    <mat-form-field class="w-full md:px-2 md:w-1/2 lg:w-1/3">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone" />
    </mat-form-field>

    <mat-form-field class="w-full md:px-2 md:w-1/2 lg:w-1/3">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address" />
    </mat-form-field>

    <mat-form-field class="w-full md:px-2 md:w-1/2 lg:w-1/3">
      <mat-label>Country</mat-label>
      <input matInput formControlName="country" />
    </mat-form-field>

    <mat-form-field class="w-full md:px-2 md:w-1/2 lg:w-1/3">
      <mat-label>Last Login</mat-label>
      <input matInput type="datetime" formControlName="lastLogin" />
    </mat-form-field>

    <div class="w-full flex flex-row-reverse p-4">
      <button
        mat-raised-button
        color="accent"
        class="ml-2 font-bold rounded"
        [disabled]="!form.valid"
        (click)="this.save()">
        {{ this.entity ? 'Save' : 'Create' }}
      </button>

      <button
        mat-button
        color="warn"
        class="ml-2 font-bold rounded"
        (click)="this.reset()">
        Cancel
      </button>

      <button
        mat-button
        color="warn"
        class="ml-2 font-bold rounded"
        (click)="this.exit()">
        Exit
      </button>
    </div>
  </form>
</app-card>
@if(this.entity){
  <app-card titleText="Avatar">
    <div class="w-full flex flex-wrap p-4 items-center">
      <img
        class="rounded-full w-28 mr-4"
        [src]="this.avatarUrl || 'assets/images/no-avatar.png'"
        alt="AVATAR" />
      <div class="p-4 grow">{{ this.entity?.avatar || 'NO AVATAR' }}</div>
      <input
        type="file"
        class="hidden"
        accept="image/*"
        (change)="onFileSelected($event)"
        #fileUpload />
      <div class="pr-4 min-w-60">
        {{ this.avatarFile?.name || 'No file uploaded yet.' }}
      </div>

      <button
        mat-mini-fab
        color="primary"
        class="upload-btn"
        (click)="fileUpload.click()">
        <mat-icon>attach_file</mat-icon>
      </button>
    </div>
    <div class="p-4">
      @if (this.uploadProgress) {
        <mat-progress-bar
          class="progress-bar"
          mode="determinate"
          [value]="this.uploadProgress"
          >
        </mat-progress-bar>
      }

      @if (this.uploadProgress) {
        <mat-icon
          class="cancel-upload"
          (click)="cancelUpload()"
          >delete_forever</mat-icon
          >
        }
      </div>
      <div class="w-full flex flex-row-reverse p-4">
        <button
          mat-raised-button
          color="primary"
          class="ml-2 font-bold rounded"
          [disabled]="!this.avatarFile"
          (click)="this.uploadAvatar()">
          Upload
        </button>
      </div>
    </app-card>

    <app-card titleText="Change Password">
      <form
        class="flex flex-row w-full flex-wrap mb-4 items-center"
        [formGroup]="this.changePasswordForm">
        <mat-form-field class="w-full md:px-2 md:w-1/2">
          <mat-label>New Password</mat-label>
          <input matInput formControlName="password" />
          <mat-error *hasError="'required'">Field is required</mat-error>
          <mat-error *hasError="'minlength'">Minimum 6 characters</mat-error>
        </mat-form-field>

        <mat-checkbox
          class="w-full md:px-2 md:w-1/2"
          formControlName="logOutEverywhere"
          >Log Out From All Devices</mat-checkbox
          >

          <div class="w-full flex flex-row-reverse p-4">
            <button
              mat-raised-button
              type="button"
              color="primary"
              class="ml-2 font-bold rounded"
              [disabled]="this.changePasswordForm.invalid"
              (click)="changePassword()">
              Save
            </button>
          </div>
        </form>
      </app-card>
      } @if(this.entity){
      <app-card titleText="Login Records">
        <app-login-records-list [userId]="this.entity.id" />
      </app-card>
    }
