.full-width {
  display: block;
  width: 100%;
}

.inline {
  display: inline-block;
}

.text-label {
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

.text-value {
  font-weight: normal;
  font-size: 14px;
}
