@import 'tailwindcss' layer(tailwindcss);
// layer(tailwindcss) to avoid Sass warnings.
html,
body {
  background-color: black;
  color: white;
  height: 100%;
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
