<mat-sidenav-container class="h-full">
    <mat-sidenav #drawer [mode]="sidenavMode" [opened]="(isHandset$ | async) === false">
        <div class="font-bold text-xl my-4 mx-6">
            Menu
        </div>
        <mat-nav-list>
            <a mat-list-item *ngFor="let menuItem of menuItems; let i = index" [routerLink]="menuItem.link"
                routerLinkActive #rla="routerLinkActive" [routerLinkActiveOptions]="{exact:true}"
                [ngClass]="{'active': rla.isActive}">
                <div class="flex flex-row items-center text-white mt-0">
                    <span class="ml-2 text-black">{{ menuItem.label }}</span>
                </div>
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary" class="flex flex-row">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>Admin-UI</span>
            <div class="ml-auto w-24 text-white">
                <button mat-raised-button color="warn" (click)="logout()">
                    LOGOUT
                </button>
            </div>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>