<mat-sidenav-container class="h-full">
  <mat-sidenav #drawer [mode]="this.sidenavMode()" [opened]="!this.isMobile()">
    <app-side-menu />
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" class="flex flex-row">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>{{ this.title() }}</span>
      <div class="flex items-center ml-auto text-white">
        <span class="mr-2">{{ AuthSignal().user?.displayName }}</span>
        <button mat-icon-button title="Logout" (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
      </div>
    </mat-toolbar>
    <div class="p-4">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
