<div class="bg-card flex flex-row-reverse justify-between px-4 pt-4" [ngClass]="{'is-phone-portrait': isPhonePortrait}">
    <button mat-raised-button class="mr-1" color="primary"
        [routerLink]="'create'"><mat-icon>add</mat-icon>CREATE</button>
</div>
<form class="bg-card flex flex-row items-center px-4 w-full" [ngClass]="{'is-phone-portrait': isPhonePortrait}"
    [formGroup]="filterForm" (ngSubmit)="this.load({pageIndex: 0})">
    <mat-form-field class="w-full lg:w-1/4">
        <mat-label>UserName</mat-label>
        <input matInput formControlName="userName">
    </mat-form-field>
    <mat-form-field class="w-full lg:w-1/4 lg:pl-2">
        <mat-label>Role</mat-label>
        <mat-select formControlName="role">
            <mat-option *ngFor="let role of this.roles" [value]="role">{{role}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button class="lg:ml-auto" mat-raised-button color="primary" (click)="this.load({pageIndex: 0})">Filter</button>
</form>
<div class="bg-card m-4" [ngClass]="{'is-phone-portrait': isPhonePortrait}">
    <table mat-table class="full-width-table" [dataSource]="this.dataSource" matSort>

        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>FirstName</th>
            <div *ngIf="isPhonePortrait"></div>
            <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
        </ng-container>
        <ng-container matColumnDef="userName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>UserName</th>
            <td mat-cell *matCellDef="let row">{{row.userName}}</td>
        </ng-container>
        <ng-container matColumnDef="role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
            <td mat-cell *matCellDef="let row">{{row.role}}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
            <td mat-cell *matCellDef="let row">
                <div class="flex justify-end">
                    <button mat-icon-button [routerLink]="[row.id]"><mat-icon>visibility</mat-icon></button>
                    <button mat-icon-button (click)="onDelete(row)"><mat-icon>delete</mat-icon></button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #mainPaginator [pageIndex]="0" [pageSize]="this.itemsPerPage"
        [pageSizeOptions]="this.pageSizeOptions" (page)="this.load($event)"></mat-paginator>
</div>