.confirm-dialog-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(183, 185, 196);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.content-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

#close-icon {
    cursor: pointer;
    font-size: 20px;
    color: #888;
}

.content-span {
    flex: 1;
    margin-left: 10px;
    font-weight: bold;

}

.full-width {
    width: 100%;
}

.buttons-position {
    display: flex;
    justify-content: space-between;
}

#no-button,
#yes-button {
    flex: 1;
    margin-right: 10px;
}

#no-button {
    background-color: #ef3e2e;
    /* Set the desired background color for NO button */
    padding: 10px;
    font-weight: bold;

}

#yes-button {
    background-color: #4caf50;
    /* Set the desired background color for YES button */
    color: white;
    /* Set the text color for YES button */
    padding: 10px;
    font-weight: bold;
}