<div
  class="my-2 w-full overflow-hidden rounded-xl border border-[color:var(--mat-sys-outline-variant)]">
  @if (this.titleText()) {
    <div
      class="bg-card-header p-4 w-full flex items-center justify-between gap-2"
      [class.cursor-pointer]="this.collapsible()"
      (click)="this.toggleCollapsed()">
      <p class="text-lg font-medium">{{ this.titleText() }}</p>
      @if (this.collapsible()) {
        <mat-icon
          class="transition-transform duration-200"
          [class.rotate-180]="this.collapsed()">
          expand_more
        </mat-icon>
      }
    </div>
  }
  @if (!this.collapsible() || !this.collapsed()) {
    <div class="bg-card flex flex-col w-full flex-wrap p-4">
      <ng-content />
    </div>
  }
</div>
