<div class="w-full h-full p-4">
  <h2 mat-dialog-title class="flex items-center">
    <mat-icon *ngIf="alert().type === 'info'">info</mat-icon>
    <mat-icon *ngIf="alert().type === 'error'" style="color: red"
      >warning</mat-icon
    >
    <mat-icon *ngIf="alert().type === 'debug'">bug-report</mat-icon>
    <div>{{ alert().createdAt | date: 'medium' }}</div>
  </h2>

  <mat-dialog-content>
    <div>{{ alert().message }}</div>
    <pre class="json-data">{{ alert().jsonData | json }}</pre>
  </mat-dialog-content>
  <mat-dialog-actions class="flex justify-end">
    <button mat-raised-button color="accent" (click)="dismiss()">
      DISMISS
    </button>
    <button type="button" mat-raised-button color="warn" (click)="exit()">
      EXIT
    </button>
  </mat-dialog-actions>
</div>
