<form [formGroup]="this.filterForm" class="flex pb-4 flex-row items-center">
  <button mat-raised-button color="primary" [routerLink]="'/tasks/create'">
    <mat-icon>add</mat-icon>Create
  </button>
  <button
    mat-raised-button
    color="primary"
    (click)="load({ pageIndex: 0 })"
    class="ml-auto">
    <mat-icon>refresh</mat-icon> Refresh
  </button>
</form>
<table mat-table [dataSource]="this.dataSource" class="w-full">
  <ng-container matColumnDef="active">
    <th mat-header-cell *matHeaderCellDef>Active</th>
    <td mat-cell *matCellDef="let element">
      <mat-slide-toggle
        [checked]="element.active"
        disableRipple="true"
        (change)="this.toggleTask($event, element)"></mat-slide-toggle>
    </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">
      {{ element.type }}
    </td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">
      {{ element.name }}
    </td>
  </ng-container>

  <ng-container matColumnDef="cronString">
    <th mat-header-cell *matHeaderCellDef>Cron String</th>
    <td mat-cell *matCellDef="let element">{{ element.cronString }}</td>
  </ng-container>

  <ng-container matColumnDef="lastRun">
    <th mat-header-cell *matHeaderCellDef>Last Run</th>
    <td mat-cell *matCellDef="let element">
      {{ element.lastRun | date: this.fullDateFormat }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let row" class="text-end">
      <div class="flex justify-end">
        <button mat-icon-button [routerLink]="'../' + row.id">
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button (click)="onDelete(row)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="this.displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: this.displayedColumns"></tr>
</table>

<mat-paginator
  class="w-full"
  [length]="this.totalItems"
  #mainPaginator
  [pageSizeOptions]="this.pageSizeOptions"
  showFirstLastButtons></mat-paginator>
